<div class="container">
    <div class="alert alert-warning" role="alert">
        Esta area pertenece al Administrador del Sistema.
      </div>
    <div class="row" *ngIf="producto">
        <div class="col-md-6">
            <div class="card" style="width: 100%;">
                <img src="../../../../assets/img/{{producto.img}}" class="card-img-top" alt="...">
              </div>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h3 class="card-title">{{producto.nombreProducto}}</h3>
                <p class="card-text">{{producto.descripcion}}</p>
                   <h4 style="color: red;">${{producto.precio}}</h4>
                   <h5>Cantidad Disponible: {{producto.cantidad}}</h5>
              </div>
              <button class="btn btn-primary" (click)="volver()">Volver</button>
              <button class="btn btn-warning" routerLink="/editar/{{producto.id}}">Actualizar</button>
              <button class="btn btn-danger" (click)="onDelete(producto.id)">Eliminar</button>
              
        </div>
        
    </div>
</div>
