<div class="container">
  <div class="row">
    <!-- <div class="col-md-10"> -->
      <div class="col-md-3 " *ngFor="let product of products">
          <div class="card">
            <div style="width: 18rem;" routerLink="/detail/{{product.id}}"
            style="cursor: pointer;" data-toggle="tooltip" title="Clic para ver detalles">
              <img src="/assets/img/{{product.img}}" class="card-img-top" alt="{{product.img}}">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text"></p>
              </div>
            </div>
            <a (click)="addProduct(product)" class="btn btn-primary"
            data-toggle="modal" data-target="#exampleModal">Agregar al Carrito</a>
            </div>
            <!-- <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Disabled tooltip">
              <button class="btn btn-primary tooltip" style="pointer-events: none;" type="button" disabled>Disabled button</button>
            </span> -->
      </div>
    <!-- </div> -->

  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          Carrito de Compra</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <app-shopping></app-shopping>
        </div>
      </div>
      <div class="modal-footer">
        <p><i>Cierra la ventana y continua agregando mas productos!</i></p>
        <button type="button" class="btn btn-danger"
        (click)="bill()" data-dismiss="modal">Comprar</button>
      </div>
    </div>
  </div>
</div>
<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
});
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
